{% extends 'SfContactBundle::layout.html.twig' %}

{% block body %}
    <h1>Supprimer un contact</h1>
    <p>
    Etes-vous certain de vouloir supprimer le contact "{{ entity.name }}" ?
  </p>

            <a href="{{ path('contact') }}">
                Back to the contacts
            </a>

    <form action="{{ path('contact_delete', {'id': entity.id}) }}" method="post">
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}