{% extends "SfUserBundle::layout.html.twig" %}

{% block body %}
<h3>Bienvenue</h3>

<p>Ceci est la page de bienvenue. Elle contient toutes les informations importantes vous permettant de comprendre le fonctionnement de notre site. Cette page est présente seulement lors de la première connexion, alors lisez-là attentivement !</p>
{% endblock %}