{% extends 'SfLoanBundle::layout.html.twig' %}

{% block body %}
    <h1>Supprimer une tâche</h1>
    <p>
    Etes-vous certain de vouloir supprimer l'emprunt "{{ entity.item }}" ?
  </p>

            <a href="{{ path('loan') }}">
                Back to the list
            </a>

    <form action="{{ path('loan_delete', {'id': entity.id}) }}" method="post">
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}